<!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Flatfy Free Flat and Responsive HTML5 Template ">
    <meta name="author" content="">

    <title>TigerMaps</title>

    <link rel='shortcut icon' type='image/x-icon' href='About/img/favicon.ico' />


    <!-- Bootstrap core CSS -->
    <link href="About/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="About/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom CSS-->
    <link href="About/css/general.css" rel="stylesheet">

    <!-- Owl-Carousel -->
    <link href="About/css/custom.css" rel="stylesheet">
    <link href="About/css/owl.carousel.css" rel="stylesheet">
    <link href="About/css/owl.theme.css" rel="stylesheet">
    <link href="About/css/style.css" rel="stylesheet">
    <link href="About/css/animate.css" rel="stylesheet">

    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="About/css/magnific-popup.css">


    <script src="About/js/modernizr-2.8.3.min.js"></script>
    <!-- Modernizr /-->
    <!--[if IE 9]>
		<script src="js/PIE_IE9.js"></script>
	<![endif]-->
    <!--[if lt IE 9]>
		<script src="js/PIE_IE678.js"></script>
	<![endif]-->

    <!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
	<![endif]-->


    <!-- CSS reset -->
    <script src="About/js/modernizr.js"></script>
    <!-- Modernizr -->


</head>

<body id="home">

    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>

    <!-- FullScreen -->
    <div class="intro-header">
        <div class="col-xs-12 text-center abcen2">
            <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">TigerMaps</h1>
            <!--<h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Clean & minimal Theme</h3>-->
            <ul class="list-inline intro-social-buttons">
                <li id="download"><a href="map" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s"><span class="network-name">Try it Now!</span></a>
                </li>
            </ul>
        </div>
        <!-- /.container -->
        <div class="col-xs-12 text-center abcen wow fadeIn">
            <div class="button_down ">
                <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s" href="#whatis"> <img class="img_scroll" src="About/img/icon/circle.png" alt=""> </a>
            </div>
        </div>
    </div>

    <!-- NavBar-->
    <nav class="navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <a class="navbar-brand" href="#home">TigerMaps</a>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                <ul class="nav navbar-nav">

                    <li class="menuItem"><a href="#whatis">What's TigerMaps?</a></li>
                    <li class="menuItem"><a href="#features">Features</a></li>
                    <li class="menuItem"><a href="#team">Our Team</a></li>
                    <li class="menuItem"><a href="#timeline">Timeline</a></li>
                </ul>
            </div>

        </div>
    </nav>


    <!-- What's TigerMaps? -->
    <div id="whatis" class="content-section-a">

        <div class="container">

            <div class="row">

                <div class="col-sm-6 pull-right wow fadeInRightBig">
                    <img class="img-responsive " src="About/img/mainMap.png" alt="">
                </div>

                <div class="col-sm-6 wow fadeInLeftBig" data-animation-delay="200">
                    <h3 class="section-heading">What is TigerMaps?</h3>
                    <div class="sub-title lead3">Glad you asked!</div>
                    <p class="lead">
                        We often find themselves overwhelmed by the abundance of events and activities occurring on campus. It can be quite hard to get a good overview of what’s going on on campus at any specific moment on any given day and helping that inform our decisions
                        on which activities to attend and how to plan out our days. So our team got together and came up with our solution, TigerMaps.
                        <br> <br> TigerMaps is a web app that provides a live interactive campus map which integrates seamlessly with multiple dynamic data feeds primarily related to events occurring at Princeton University of interest to students, faculty,
                        and visitors.

                    </p>
                    <a class="btn btn-embossed btn-info" href="map" role="button">Try it Out!</a></p>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>

    <div id="features" class="content-section-b">

        <div class="container">
            <div class="row">
                <div class="col-sm-6 wow fadeInLeftBig">
                    <div id="owl-demo-1" class="owl-carousel">
                        <a href="img/frist.png" class="image-link">
                            <div class="item">
                                <img class="img-responsive img-rounded" src="About/img/frist.png" alt="">
                            </div>
                        </a>
                        <a href="img/forbes.png" class="image-link">
                            <div class="item">
                                <img class="img-responsive img-rounded" src="About/img/forbes.png" alt="">
                            </div>
                        </a>
                        <a href="img/lewis.png" class="image-link">
                            <div class="item">
                                <img class="img-responsive img-rounded" src="About/img/lewis.png" alt="">
                            </div>
                        </a>
                        <a href="img/stadium.png" class="image-link">
                            <div class="item">
                                <img class="img-responsive img-rounded" src="About/img/stadium.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 wow fadeInRightBig" data-animation-delay="200">
                    <h3 class="section-heading">Interactive Map</h3>
                    <p class="lead">
                        The main page will have a large dynamic interactive map in the middle, where users can pan different areas of the map and click/hover/touch different buildings. Doing so would result in a pop-up or panel showing information about the building.
                    </p>
                    <a class="btn btn-embossed btn-info" href="map" role="button">Try it Out!</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-a">

        <div class="container">

            <div class="row">

                <div class="col-sm-6 pull-right wow fadeInRightBig">
                    <img class="img-responsive " src="About/img/filterable_options.png" alt="">
                </div>

                <div class="col-sm-6 wow fadeInLeftBig" data-animation-delay="200">
                    <h3 class="section-heading">Filterable Options</h3>
                    <p class="lead">Above the map, there would be a search bar, where users can use queries to search for different buildings, events, or hosting entities. There would also be filters that would limit the search results.
                    </p>

                    <ul class="descp lead2">
                        <li><i class="glyphicon glyphicon-home"></i> Filter/Search by building</li>
                        <li><i class="glyphicon glyphicon-education"></i> Filter/Search by academic events</li>
                        <li><i class="glyphicon glyphicon-triangle-right"></i> Filter/Search with many other categories</li>
                        <li><i class="glyphicon glyphicon-refresh"></i> Data is continuosly retrieved from sources</li>
                    </ul>
                    <a class="btn btn-embossed btn-info" href="map" role="button">Try it Out!</a></p>

                </div>
            </div>
        </div>

    </div>

    <div id="publicPrivateData" class="content-section-b">

        <div class="container">

            <div class="row">

                <div class="col-sm-6 pull-right wow fadeInRightBig">
                    <img class="img-responsive " src="About/img/casLogin.png" alt="">
                </div>

                <div class="col-sm-6 wow fadeInLeftBig" data-animation-delay="200">
                    <h3 class="section-heading">Public and Private Data</h3>
                    <p class="lead">
                        The search results would initially be limited to public events, i.e. events accessible to the campus community and campus visitors. After the user has logged in via their netID, more search results would show up.

                    </p>
                    <a class="btn btn-embossed btn-info" href="map" role="button">Try it Out!</a></p>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>


    <!-- Screenshot -->
    <!--<div id="screen" class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center wrap_title ">
                    <h2>Screen App</h2>
                    <p class="lead" style="margin-top:0">A special thanks to Death.</p>
                </div>
            </div>
            <div class="row wow bounceInUp">
                <div id="owl-demo" class="owl-carousel">

                    <a href="img/slide/1.png" class="image-link">
                        <div class="item">
                            <img class="img-responsive img-rounded" src="img/slide/1.png" alt="Owl Image">
                        </div>
                    </a>

                    <a href="img/slide/2.png" class="image-link">
                        <div class="item">
                            <img class="img-responsive img-rounded" src="img/slide/2.png" alt="Owl Image">
                        </div>
                    </a>

                    <a href="img/slide/3.png" class="image-link">
                        <div class="item">
                            <img class="img-responsive img-rounded" src="img/slide/3.png" alt="Owl Image">
                        </div>
                    </a>

                    <a href="img/slide/1.png" class="image-link">
                        <div class="item">
                            <img class="img-responsive img-rounded" src="img/slide/1.png" alt="Owl Image">
                        </div>
                    </a>

                    <a href="img/slide/2.png" class="image-link">
                        <div class="item">
                            <img class="img-responsive img-rounded" src="img/slide/2.png" alt="Owl Image">
                        </div>
                    </a>

                    <a href="img/slide/3.png" class="image-link">
                        <div class="item">
                            <img class="img-responsive img-rounded" src="img/slide/3.png" alt="Owl Image">
                        </div>
                    </a>
                </div>
            </div>
        </div>


    </div>-->

    <!--<div class="content-section-c ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center white">
                    <h2>Get Live Updates</h2>
                    <p class="lead" style="margin-top:0">A special thanks to Death.</p>
                </div>
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="mockup-content">
                        <div class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
                            <button type="button "><span>Subscribe to our Newsletter</span></button>
                            <div class="morph-content">
                                <div>
                                    <div class="content-style-form content-style-form-4 ">
                                        <h2 class="morph-clone">Subscribe to our Newsletter</h2>
                                        <form>
                                            <p><label>Your Email Address</label><input type="text" /></p>
                                            <p><button>Subscribe me</button></p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>>
        </div>
    </div>-->

    <!-- Team -->
    <div id="team" class="content-section-a">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                    <h2>Our Team</h2>
                    <br>
                    <br>
                </div>

                <div class="col-sm-6  block wow bounceIn">
                    <div class="row">
                        <div class="col-md-5">
                            <img class="img-circle" src="About/img/omar.jpg" alt="Generic placeholder image" width="200" height="200">
                        </div>
                        <div class="col-md-7 ">
                            <h3> Omar Mukadam </h3>
                            <p> (Team Leader) </p>
                            <p><a class="btn btn-default" href="https://www.linkedin.com/in/omarmukadam/" role="button">LinkedIn &raquo;</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6  block wow bounceIn">
                    <div class="row">
                        <div class="col-md-5">
                            <img class="img-circle" src="About/img/jelani.jpeg" alt="Generic placeholder image" width="200" height="200">
                        </div>
                        <div class="col-md-7 ">
                            <h3> Jelani Denis </h3>
                            <p><a class="btn btn-default" href="https://www.linkedin.com/in/jelani-denis-95b09990/" role="button">LinkedIn &raquo;</a></p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row tworow">

                <div class="col-sm-6  block wow bounceIn">
                    <div class="row">
                        <div class="col-md-5">
                            <img class="img-circle" src="About/img/osama.jpg" alt="Generic placeholder image" width="200" height="200">
                        </div>
                        <div class="col-md-7 ">
                            <h3> Osama Al-Othman </h3>
                            <p><a class="btn btn-default" href="https://www.linkedin.com/in/osamakhld/" role="button">LinkedIn &raquo;</a></p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6  block wow bounceIn">
                    <div class="row">
                        <div class="col-md-5">
                            <img class="img-circle" src="About/img/jose.png" alt="Generic placeholder image" width="200" height="200">
                        </div>
                        <div class="col-md-7 ">
                            <h3> José Maria Rico </h3>
                            <p><a class="btn btn-default" href="https://www.linkedin.com/in/jmrico01/" role="button">LinkedIn &raquo;</a></p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row threerow">
                <br>
                <h3 style="text-align: center;"><strong><span style="font-weight: 400;"><strong><span style="font-weight: 400;">Advising TA: Robin Qiu&nbsp;(</span><a href="mailto:yqiu@princeton.edu"><span style="font-weight: 400;">yqiu@princeton.edu</span></a><span style="font-weight: 400;">)</span></strong></span>
                    </strong>
                </h3>
                <h3 style="text-align: center;"><a href="https://drive.google.com/file/d/0B-FrsqAvDHo8T1lhWlZVdXh5cFk/view?usp=sharing">Design Document</a></h3>
                <h3 style="text-align: center;"><a href="https://github.com/MkdmOmar/TigerMaps">GitHub Page</a></h3>
                <br>
            </div>

        </div>
    </div>

    <div id="timeline" class="content-section-b" style="margin-bottom: 10px;">

        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
            <h2>Timeline</h2>
            <br>
            <br>
        </div>
        <section id="cd-timeline" class="cd-container">

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location">
                    <img src="About/img/check.png" alt="Picture">
                </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <!--<h2>Meeting with Kernighan</h2>-->
                    <h5>Our team met with Professor Kernighan and discussed the project with him.</h5>
                    <span class="cd-date">March 14</span>
                </div>
                <!-- cd-timeline-content -->
            </div>
            <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location">
                    <img src="About/img/check.png" alt="Picture">
                </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <!--<h2>Meeting with Kernighan</h2>-->
                    <h5>Hone out the architecture of the web app tiers and connections between the tiers.</h5>
                    <span class="cd-date">March 20-26 (Spring Break)</span>
                </div>
                <!-- cd-timeline-content -->
            </div>
            <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location">
                    <img src="About/img/check.png" alt="Picture">
                </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <!--<h2>Meeting with Kernighan</h2>-->
                    <h5>Start weekly meeting with our TA. Get the base map implementation running (building shapes/labels, campus roads/paths, etc). Also get familiar with the database and other frameworks we’ll be using.</h5>
                    <span class="cd-date">March 27-31</span>
                </div>
                <!-- cd-timeline-content -->
            </div>
            <!-- cd-timeline-block -->


            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location">
                    <img src="About/img/check.png" alt="Picture">
                </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <!--<h2>Meeting with Kernighan</h2>-->
                    <h5>Began getting polygon data for building outlines. Added eventhandlers for mouse over/hover on buildings. Began implementing data feed parser.</h5>
                    <span class="cd-date">April 3-7</span>
                </div>
                <!-- cd-timeline-content -->
            </div>
            <!-- cd-timeline-block -->


            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location">
                    <img src="About/img/check.png" alt="Picture">
                </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <!--<h2>Meeting with Kernighan</h2>-->
                    <h5>Added more building polygons. Hooked up MongoDB with parser. Began implementing search bar and infoWindow display options.</h5>
                    <span class="cd-date">April 10-14</span>
                </div>
                <!-- cd-timeline-content -->
            </div>


            <!-- cd-timeline-block -->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location">
                    <img src="About/img/check.png" alt="Picture">
                </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <!--<h2>Meeting with Kernighan</h2>-->
                    <h5>Revamped About page. Implemented scheduler for parser. Integrated building highlight functionality within search.</h5>
                    <span class="cd-date">April 17-21</span>
                </div>
                <!-- cd-timeline-content -->
            </div>
            <!-- cd-timeline-block -->

            <!-- cd-timeline-block -->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location">
                    <img src="About/img/check.png" alt="Picture">
                </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <!--<h2>Meeting with Kernighan</h2>-->
                    <h5>Implemented logic for filter toggles. Implemented CAS login/logout. Fully connected parser to MongoDB to front end. Implemented search by event and building name.</h5>
                    <span class="cd-date">April 24-28</span>
                </div>
                <!-- cd-timeline-content -->
            </div>
            <!-- cd-timeline-block -->

            <!-- cd-timeline-block -->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location">
                    <img src="About/img/check.png" alt="Picture">
                </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <!--<h2>Meeting with Kernighan</h2>-->
                    <h5>Made app more mobile friendly. Updated landing page content.</h5>
                    <span class="cd-date">May 1-5</span>
                </div>
                <!-- cd-timeline-content -->
            </div>
            <!-- cd-timeline-block -->

        </section>
        <!-- cd-timeline -->

    </div>


    <!-- Contact -->
    <!--<div id="contact" class="content-section-a">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                        <h2>Contact Us</h2>
                        <p class="lead" style="margin-top:0">A special thanks to Death.</p>
                    </div>

                    <form role="form" action="" method="post">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="InputName">Your Name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="InputEmail">Your Email</label>
                                <div class="input-group">
                                    <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="InputMessage">Message</label>
                                <div class="input-group">
                                    <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                                </div>
                            </div>

                            <input type="submit" name="submit" id="submit" value="Submit" class="btn wow tada btn-embossed btn-primary pull-right">
                        </div>
                    </form>

                    <hr class="featurette-divider hidden-lg">
                    <div class="col-md-5 col-md-push-1 address">
                        <address>
					<h3>Office Location</h3>
					<p class="lead"><a href="https://www.google.com/maps/preview?ie=UTF-8&q=The+Pentagon&fb=1&gl=us&hq=1400+Defense+Pentagon+Washington,+DC+20301-1400&cid=12647181945379443503&ei=qmYfU4H8LoL2oATa0IHIBg&ved=0CKwBEPwSMAo&safe=on">The Pentagon<br>
					Washington, DC 20301</a><br>
					Phone: XXX-XXX-XXXX<br>
					Fax: XXX-XXX-YYYY</p>
					</address>

                        <h3>Social</h3>
                        <li class="social">
                            <a href="#"><i class="fa fa-facebook-square fa-size"> </i></a>
                            <a href="#"><i class="fa  fa-twitter-square fa-size"> </i> </a>
                            <a href="#"><i class="fa fa-google-plus-square fa-size"> </i></a>
                            <a href="#"><i class="fa fa-flickr fa-size"> </i> </a>
                        </li>
                    </div>
                </div>
            </div>
        </div>-->



    <footer>
        <p align="center"><a href="#">Back to top</a></p>

        <!--<div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h3 class="footer-title">Follow Me!</h3>
                        <p>Vuoi ricevere news su altri template?<br/> Visita Andrea Galanti.it e vedrai tutte le news riguardanti nuovi Theme!<br/> Go to: <a href="http://andreagalanti.it" target="_blank">andreagalanti.it</a>
                        </p>
                    </div>

                    <div class="col-md-5">
                        <div class="footer-banner">
                            <h3 class="footer-title">Flatfy Theme</h3>
                            <ul>
                                <li>12 Column Grid Bootstrap</li>
                                <li>Form Contact</li>
                                <li>Drag Gallery</li>
                                <li>Full Responsive</li>
                                <li>Lorem Ipsum</li>
                            </ul>
                            Go to: <a href="http://andreagalanti.it/flatfy" target="_blank">andreagalanti.it/flatfy</a>
                        </div>
                    </div>
                </div>
            </div>-->
    </footer>

    <!-- JavaScript -->
    <script src="About/js/jquery-1.10.2.js"></script>
    <script src="About/js/bootstrap.js"></script>
    <script src="About/js/owl.carousel.js"></script>
    <script src="About/js/script.js"></script>
    <!-- StikyMenu -->
    <script src="About/js/stickUp.min.js"></script>
    <script type="text/javascript">
        jQuery(function($) {
            $(document).ready(function() {
                $('.navbar-default').stickUp();

            });
        });
    </script>
    <!-- Smoothscroll -->
    <script type="text/javascript" src="About/js/jquery.corner.js"></script>
    <script src="About/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <script src="About/js/classie.js"></script>
    <script src="About/js/uiMorphingButton_inflow.js"></script>
    <!-- Magnific Popup core JS file -->
    <script src="About/js/jquery.magnific-popup.js"></script>

    <script src="About/js/main.js"></script>
    <!-- Resource jQuery -->

</body>

</html>