<!DOCTYPE html>
<html>

<head>
    <title>Simple Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/infoWindow.css">

    <!--<link rel="stylesheet" href="/resources/demos/style.css">-->
    <style>
        /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
        
        #map {
            margin: 0;
            padding: 0;
            height: 100%;
            max-width: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        
        .checkboxes {
            background: white;
        }
        
        .notLoggedIn,
        .loggedIn {
            background: white;
        }
        
        .toggle-buttons {
            background-color: #fff;
            border: 2px solid #888;
            border-radius: 5px;
            box-shadow: 0 2px 6px grey;
            cursor: pointer;
            text-align: center;
            display: inline-block;
            width: 80%;
            height: auto;
            margin-top: 10px;
        }
        
        .toggle-buttons-withInfowindow {
            background-color: #fff;
            border: 2px solid #888;
            border-radius: 5px;
            box-shadow: 0 2px 6px grey;
            cursor: pointer;
            text-align: center;
            display: inline-block;
            width: 40%;
            height: auto;
            margin-top: 10px;
            /*width: 75px;*/
        }
        
        .toggle-search {
            background-color: #fff;
            border: 2px solid #888;
            border-radius: 5px;
            box-shadow: 0 2px 6px grey;
            cursor: pointer;
            text-align: center;
            display: inline-block;
            width: auto;
            height: auto;
        }
        
        .toggle-search:hover {
            background-color: #ffb347;
        }
        
        .toggle-texts {
            font-family: Roboto, Arial, sans-serif;
            color: black;
            text-decoration: none;
            font-size: 15px;
            line-height: 12px;
            height: 12px;
        }
        
        .walkMeButton {
            background-color: #4CAF50;
            color: white;
            border: 2px solid #4CAF50;
            padding: 4px 4px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 4px;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
            width: 90%;
            border-radius: 12px;
        }
        
        .walkMeButton:hover {
            background-color: white;
            color: black;
        }
        
        .aboutButton {
            background-color: #405472;
            color: white;
            border: 2px solid #405472;
            padding: 4px 4px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 4px;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
            width: 90%;
            border-radius: 12px;
            position: absolute;
            bottom: 0.5em;
            left: 0.5em;
            width: 80%;
            height: auto;
        }
        
        .aboutButton:hover {
            background-color: white;
            color: black;
        }
        
        .showInfoButton {
            background-color: #6d1725;
            color: white;
            border: 2px solid #6d1725;
            padding: 4px 4px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 4px;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
            width: 90%;
            border-radius: 12px;
            position: absolute;
            bottom: 11em;
            left: 0.5em;
            width: 80%;
            height: auto;
        }
        
        .showInfoButton:hover {
            background-color: white;
            color: black;
        }
        
        .left-panel-no-InfoWindow {
            /* The Fallback background color*/
            background: rgb(225, 227, 232);
            /* translucent background color */
            background: rgba(225, 227, 232, 0.8);
            border: 2px solid #888;
            border-radius: 25px;
            box-shadow: 0 2px 6px grey;
            /*cursor: pointer;*/
            text-align: center;
            position: absolute;
            top: 0.25em;
            bottom: 0.25em;
            left: 0.5em;
            width: 12%;
            height: 97%;
            overflow-y: auto;
            padding: 5px;
            display: block;
        }
        
        .left-panel-with-InfoWindow {
            /* The Fallback background color*/
            background: rgb(225, 227, 232);
            /* translucent background color */
            background: rgba(225, 227, 232, 0.8);
            border: 2px solid #888;
            border-radius: 25px;
            box-shadow: 0 2px 6px grey;
            /*cursor: pointer;*/
            text-align: center;
            position: absolute;
            top: 0.25em;
            bottom: 0.25em;
            left: 0.5em;
            width: 16%;
            height: 97%;
            overflow-y: auto;
            padding: 5px;
            display: block;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body id='body'>

    <div id="map"></div>


    <div id="left-panel-no-InfoWindow" class="left-panel-no-InfoWindow" style="text-align: center; display: block;">

        <!--This EJS logic will generate the logged In and not logged in divs based on the "loggedIn" parameter passed in from server.js-->
        <% if(loggedIn){ %>
            <div id="notLoggedIn" class="notLoggedIn" style="padding: 2px; display:none;z-index:3;border-radius:5px;border:1px solid black;position:absolute;top:0.5em;left:0.5em; width: 80%;">
                <a href="/login" style="font-family: Roboto,Arial,sans-serif; color: black; text-decoration: none; font-size: 16px; line-height: 20px; padding-left: 2px; padding-right: 2px;  ">Log In Here</a>
            </div>

            <div id="loggedIn" class="loggedIn" style="padding: 2px;  display:block;z-index:3;border-radius:5px;border:1px solid black;position:absolute;top:0.5em;left:0.5em; width: 80%;">
                <p style=" margin-bottom:5px; margin-top:2px; font-family: Roboto,Arial,sans-serif; color: black; text-decoration: none; font-size: 16px;  ">Hello,
                    <%= netID %>
                </p>
                <a href="/logout" style=" font-family: Roboto,Arial,sans-serif; color: black; text-decoration: none; font-size: 16px; ">Logout</a>

            </div>
            <% } else{ %>
                <div id="notLoggedIn" class="padding: 5px; notLoggedIn" style="display:block;z-index:3;border-radius:5px;border:1px solid black;position:absolute;top:0.5em;left: 0.5em; width: 80%; height: auto;">
                    <a href="/login" style="font-family: Roboto,Arial,sans-serif; color: black; text-decoration: none; font-size: 16px; line-height: 20px; ">Log In Here</a>
                </div>

                <div id="loggedIn" class="padding: 2px; loggedIn" style="display:none;z-index:3;border-radius:5px;border:1px solid black;position:absolute;top:0.5em;left:0.5em; width: 80%;">
                    <p style="font-family: Roboto,Arial,sans-serif; color: black; text-decoration: none; font-size: 16px; padding-left: 2px; padding-right: 2px; ">Hello, </p>
                </div>
                <% } %>


                    <div id="vertical_container" style="width: 100%; position: absolute; z-index: 3; display: block; height: auto; left: 0em; bottom: 45%;">
                        <div class="toggle-buttons" id="events_button" onclick="showEventPlaces()">
                            <p class="toggle-texts">Events</p>
                        </div>
                        <div class="toggle-buttons" id="food_button" onclick="showFoodPlaces()">
                            <p class="toggle-texts">Food</p>
                        </div>
                        <div class="toggle-buttons" id="laundry_button" onclick="showLaundryPlaces()">
                            <p class="toggle-texts">Laundry</p>
                        </div>
                        <div class="toggle-buttons" id="printer_button" onclick="showPrinterPlaces()">
                            <p class="toggle-texts">Printers</p>
                        </div>

                    </div>

                    <div class="checkboxes" style="padding: 2px; z-index:3;border-radius:5px;border:1px solid black;position:absolute; bottom: 6em;  height: auto; width: 90%; font-size: 13px;">
                        <label><input type="radio" name="infoWindowDisplayMode" id="oneInfoWindow" checked="checked"> Display 1 Info Window at a time</label>
                        <br/>
                        <br/>
                        <label><input type="radio" name="infoWindowDisplayMode" id="allInfoWindow" > Keep all clicked Info Windows</label>
                    </div>

                    <button type="button" class="showInfoButton" onclick="toggleInfo()">Show Info</button>

                    <!--<div id="info_toggle" style="background-color: #fff; border: 2px solid #888; border-radius: 5px; box-shadow: 0 2px 6px grey; cursor: pointer; text-align: center; position: absolute; bottom: 4em; left: 0.5em; width: 80%; height: auto;" onclick="toggleInfo()">
            <p id='info_hide' style="font-family: Roboto,Arial,sans-serif; color: black; text-decoration: none; font-size: 16px; line-height: 30px; padding-left: 5px; padding-right: 5px; height: auto;">Show Info</p>
        </div>-->

                    <!--<div id="about_us" style="background-color: #fff; border: 2px solid #888; border-radius: 5px; box-shadow: 0 2px 6px grey; cursor: pointer; text-align: center; position: absolute; bottom: 0.5em; left: 0.5em; width: 80%; height: auto;">-->
                    <!--<a href="/" style="font-family: Roboto,Arial,sans-serif; color: black; text-decoration: none; font-size: 16px; line-height: 30px; padding-left: 5px; padding-right: 5px; height: auto;">About Us</a>-->
                    <button type="button" class="aboutButton" onclick="location.href='/';">About Us</button>
                    <!--</div>-->

                    <!--<button type="button" class="walkMeButton" onclick="drawPathToCoords()">Walk Me Here!</button>-->
    </div>


    <div id="left-panel-with-InfoWindow" class="left-panel-with-InfoWindow" style="text-align: center; display: none;">

        <!--This EJS logic will generate the logged In and not logged in divs based on the "loggedIn" parameter passed in from server.js-->
        <% if(loggedIn){ %>
            <div id="notLoggedIn" class="notLoggedIn" style="padding: 2px; display:none;z-index:3;border-radius:5px;border:1px solid black;position:absolute;top:0.5em;left:0.5em; width: 80%;">
                <a href="/login" style="font-family: Roboto,Arial,sans-serif; color: black; text-decoration: none; font-size: 16px; line-height: 20px; padding-left: 2px; padding-right: 2px;  ">Log In Here</a>
            </div>

            <div id="loggedIn" class="loggedIn" style="padding: 2px;  display:block;z-index:3;border-radius:5px;border:1px solid black;position:absolute;top:0.5em;left:0.5em; width: 80%;">
                <p style=" margin-bottom:5px; margin-top:2px; font-family: Roboto,Arial,sans-serif; color: black; text-decoration: none; font-size: 16px;  ">Hello,
                    <%= netID %>
                </p>
                <a href="/logout" style=" font-family: Roboto,Arial,sans-serif; color: black; text-decoration: none; font-size: 16px; ">Logout</a>

            </div>
            <% } else{ %>
                <div id="notLoggedIn" class="padding: 5px; notLoggedIn" style="display:block;z-index:3;border-radius:5px;border:1px solid black;position:absolute;top:0.5em;left: 0.5em; width: 80%; height: auto;">
                    <a href="/login" style="font-family: Roboto,Arial,sans-serif; color: black; text-decoration: none; font-size: 16px; line-height: 20px; ">Log In Here</a>
                </div>

                <div id="loggedIn" class="padding: 2px; loggedIn" style="display:none;z-index:3;border-radius:5px;border:1px solid black;position:absolute;top:0.5em;left:0.5em; width: 80%;">
                    <p style="font-family: Roboto,Arial,sans-serif; color: black; text-decoration: none; font-size: 16px; padding-left: 2px; padding-right: 2px; ">Hello, </p>
                </div>
                <% } %>


                    <div id="vertical_container" style="width: 100%; position: absolute; z-index: 3; display: block; height: auto; left: 0em; top: 8%;">
                        <div>
                            <div class="toggle-buttons-withInfowindow" id="events_button" onclick="showEventPlaces()">
                                <p class="toggle-texts">Events</p>
                            </div>
                            <div class="toggle-buttons-withInfowindow" id="food_button" onclick="showFoodPlaces()">
                                <p class="toggle-texts">Food</p>
                            </div>
                        </div>

                        <div>
                            <div class="toggle-buttons-withInfowindow" id="laundry_button" onclick="showLaundryPlaces()">
                                <p class="toggle-texts">Laundry</p>
                            </div>
                            <div class="toggle-buttons-withInfowindow" id="printer_button" onclick="showPrinterPlaces()">
                                <p class="toggle-texts">Printers</p>
                            </div>
                        </div>

                    </div>

                    <div id="info_div" style="background-color: #fff; border: 2px solid #888; border-radius: 5px; box-shadow: 0 2px 6px grey; cursor: pointer; text-align: center; position: absolute; top: 23.5%; width: 80%; height: 47%; overflow-y: auto; padding:5px;display: block;">
                    </div>
                    <button type="button" class="showInfoButton" onclick="toggleInfo()">Hide Info</button>

                    <div class="checkboxes" style="padding: 2px; z-index:3;border-radius:5px;border:1px solid black;position:absolute; bottom: 6em;  height: auto; width: 90%; font-size: 13px;">
                        <label><input type="radio" name="infoWindowDisplayMode" id="oneInfoWindow" checked="checked"> Display 1 Info Window at a time</label>
                        <br/>
                        <br/>
                        <label><input type="radio" name="infoWindowDisplayMode" id="allInfoWindow" > Keep all clicked Info Windows</label>
                    </div>





                    <!--<div id="info_toggle" style="background-color: #fff; border: 2px solid #888; border-radius: 5px; box-shadow: 0 2px 6px grey; cursor: pointer; text-align: center; position: absolute; bottom: 4em; left: 0.5em; width: 80%; height: auto;" onclick="toggleInfo()">
            <p id='info_hide' style="font-family: Roboto,Arial,sans-serif; color: black; text-decoration: none; font-size: 16px; line-height: 30px; padding-left: 5px; padding-right: 5px; height: auto;">Show Info</p>
        </div>-->

                    <!--<div id="about_us" style="background-color: #fff; border: 2px solid #888; border-radius: 5px; box-shadow: 0 2px 6px grey; cursor: pointer; text-align: center; position: absolute; bottom: 0.5em; left: 0.5em; width: 80%; height: auto;">-->
                    <!--<a href="/" style="font-family: Roboto,Arial,sans-serif; color: black; text-decoration: none; font-size: 16px; line-height: 30px; padding-left: 5px; padding-right: 5px; height: auto;">About Us</a>-->
                    <button type="button" class="aboutButton" onclick="location.href='/';">About Us</button>
                    <!--</div>-->

                    <!--<button type="button" class="walkMeButton" onclick="drawPathToCoords()">Walk Me Here!</button>-->
    </div>

    <input id="pac-input" class="controls" style="position:absolute; z-index:3;height:30px;width:40%;border-radius:5px;font-size:18px;border: 1px solid black; left: 30%; top: 0.5em;" type="text" placeholder="&nbsp Search For Places Here">

    <input id="new-input" class="controls" style="display: none; position:absolute; z-index:3;height:30px;width:40%;border-radius:5px;font-size:18px;border: 1px solid black; left: 30%; top: 0.5em;" type="text" placeholder="&nbsp Search For Events Here" list="titles">

    <div id="toggle_search" class="toggle-search" style="position:absolute; z-index:3;height:30px;width:80px;border-radius:5px;font-size:18px;border: 1px solid black; left: 71%; top: 0.5em;text-align: center;line-height:30px;" onclick="toggleSearch()">Toggle
        <!--<p style="line-height: 10px;">Events</p>-->
    </div>

    <datalist id="titles">
    </datalist>





    <!--<div style="border: 3px solid blackl width: auto, height: auto">
        <div id="date-slider" style="position:absolute; z-index:3;line-height:25px;height:15px;left:50%;bottom: 3em;width:45%;border:3px solid black">
        </div>
    </div>-->

    <div id='time-stuff' style="position:absolute; z-index:3;line-height:20px;line-height:20px; bottom: 6.5em;left:15em;width:70%;">

        <div id='time_range' style="position:absolute; z-index:3;line-height:20px;line-height:20px; width:9em;background-color:white;border-radius:5px;border:2px solid black">
            <label style="display:inline-block" for="time-range">Time Range (Hours):</label>
            <input type="text" id="time-range" readonly style="border:0; color:#f6931f; font-weight:bold;display:inline-block;width:80%">
        </div>

        <div style="border: 3px solid blackl; width: auto; height: auto">
            <div id="time-slider" style="position:absolute; z-index:3;line-height:25px;height:15px;left:10em; top: 0.6em; width:60%;border:3px solid black">
            </div>
        </div>

    </div>

    <div id='date-stuff' style="position:absolute; z-index:3;line-height:20px;line-height:20px; bottom: 3em;left:15em;width:70%;">

        <div id='date_range' style="position:absolute; z-index:3;line-height:20px;line-height:20px; width:9em;background-color:white;border-radius:5px;border:2px solid black">
            <label style="display:inline-block" for="date-range">Date Range (Dates):</label>
            <input type="text" id="date-range" readonly style="border:0; color:#f6931f; font-weight:bold;display:inline-block;width:80%">
        </div>

        <div style="border: 3px solid blackl; width: auto; height: auto; ">
            <div id="date-slider" style="position:absolute; z-index:3;line-height:25px;height:15px;left:10em; top: 0.6em; width:60%;border:3px solid black">
            </div>
        </div>

    </div>











    <!--<div id="vertical_container" style="width: auto; position: absolute; z-index: 3; right: 0em; display: none; height: 180px; width: 100px">
                    <div class="toggle-buttons" style="display: inline-block; margin-top: 10px; width: 75px;" id="events_button" onclick="showEventPlaces()">
                        <p class="toggle-texts">Events</p>
                    </div>
                    <div class="toggle-buttons" style="display: inline-block; margin-top: 10px;width: 75px;" id="food_button" onclick="showFoodPlaces()">
                        <p class="toggle-texts">Food</p>
                    </div>
                    <div class="toggle-buttons" style="display: inline-block; margin-top: 10px;width: 75px;" id="laundry_button" onclick="showLaundryPlaces()">
                        <p class="toggle-texts">Laundry</p>
                    </div>
                    <div class="toggle-buttons" style="display: inline-block; margin-top: 10px;width: 75px;" id="printer_button" onclick="showPrinterPlaces()">
                        <p class="toggle-texts">Printers</p>
                    </div>

                </div>

                <div id="horizontal_container" style="width: auto; position: absolute; z-index: 3; bottom: 2em; display: block; height: 40px;">
                    <div id="div1" class="toggle-buttons" id="events_button" style="margin-right: 15px; margin-left: 5em;" onclick="showEventPlaces()">
                        <p class="toggle-texts">Events</p>
                    </div>
                    <div id="div2" class="toggle-buttons" id="food_button" style="margin-right: 15px;" onclick="showFoodPlaces()">
                        <p class="toggle-texts">Food</p>
                    </div>
                    <div id="div3" class="toggle-buttons" id="laundry_button" style="margin-right: 15px;" onclick="showLaundryPlaces()">
                        <p class="toggle-texts">Laundry</p>
                    </div>
                    <div id="div4" class="toggle-buttons" id="printer_button" onclick="showPrinterPlaces()">
                        <p class="toggle-texts">Printers</p>
                    </div>

                </div>-->


</body>
<!--
<script src="js/xml2json.js"></script>
<script src="js/xmlToJSON.js"></script>
-->
<script src="js/map.js"></script>
<script src="js/toggle.js"></script>
<script src="js/position.js"></script>
<script src="js/slider.js"></script>
<script src="js/path.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmXodltpMtvz-qW_EGFjh4PBDq83XIdxI&libraries=places&callback=initMap"></script>

</html>